/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 iframe {
   border: 1px #888 solid;
   border-radius: 0.5rem;
 }

 .topTitle {
   text-align: center;
 }

 .topForm {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 14rem;
 }

 .topForm .labelGroup {
   width: 100%;
   margin: 1rem 0;
 }

 .topFormButton {
   width: 100%;
 }

 .container {
 }

.chatForm {
  margin: 0;
  width: 100%;
  height: 25vh;
}

.flex {
  display: flex;
}

.chatMessages {
  margin: 0;
  padding: 0;
  margin-right: 2rem;

  height: 65vh;
  flex-basis: 70%;
}

.privateChatMessages {
  margin: 0;
  padding: 0;

  height: 65vh;
  flex-basis: 30%;
}